# Bot tokeni (BotFather dan olingan)
BOT_TOKEN=8548893916:AAEYCfuTDuwNLoD1I59cfePucHyBaFWb0ug

# Sizning shaxsiy Telegram ID ingiz (admin)
ADMIN_ID=123456789

# Taxi e'lonlari yuboriladigan guruh ID
GROUP_ID=-1001234567890

# To'lov uchun karta ma'lumotlari
CARD_NUMBER=8600 1234 5678 9012
CARD_NAME=ABDULLOH ARSLONOV
